<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>TEST A</title>
  <!-- <script src="/js/AB-test-swt.js" type="text/javascript"></script> -->
  <!-- <script language="javascript" src="http://pft.zoosnet.net/JS/LsJS.aspx?siteid=PFT80759913&float=1&lng=cn"></script> -->
<script language='javascript'>
(function() {
    var _swt_code = document.createElement("script");
    _swt_code.src = "http://pft.zoosnet.net/JS/LsJS.aspx?siteid=PFT80759913&float=1&lng=cn";
    _swt_code.setAttribute("language", "javascript");
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(_swt_code, s);
})();
</script>

</head>
<body>
    <div class=""></div>
    <a href="/A">页面 A</a>
    <a href="/B">页面 B</a>
    <a href="/C">页面 C</a>
    <p>这是页面 A3 啊</p>
</body>
</html>
