
<html>
    <head>
<meta name="applicable-device" content="mobile">
<meta http-equiv="Cache-Control" content="no-transform" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta charset="gb2312" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>乌鲁木齐新军都白癜风医院</title>
<meta name="description" charset="乌鲁木齐新军都白癜风医院是新疆治疗白癜风最好的医院，是一所集临床、科研、预防、保健、康复为一体的专业治疗白癜风的专科机构。乌鲁木齐新军都白癜风医院，拥有先进的医疗设备,资深的专家,在白癜风治疗,儿童白癜风,白癜风早期,白癜风治愈等方面有很大的研究，成功治愈了沙依巴克区,天山区,新市区,头屯河区,昌吉回族自治州的广大患者。咨询热线：0991-7898333">
<meta name="keywords" content="新疆乌鲁木齐白癜风医院_新疆最好的白癜风医院_新疆治疗白癜风专科医院-乌鲁木齐新军都白癜风医院">
<link rel="stylesheet" href="http://m.xjdpfbyy.com/xbindex/css/css.css" />
<script type="text/javascript" src="http://m.xjdpfbyy.com/xbindex/js/rem.js"></script>
<!-- <script type="text/javascript" src="http://m.xjdpfbyy.com/xbindex/js/TouchSlide.1.1.js"></script> -->
</head>
<body>
<header><a href="/" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/logo.jpg"   alt=""/></a></header>
<nav><ul>
        <li><a href="/yyjj/16.html"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_04.jpg"/><p>医院简介</p></a></li>
        <li><a href="/zjtd/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_06.jpg"/><p>专家团队</p></a></li>
        <li><a href="/tslf/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_08.jpg"/><p>祛白技术</p></a></li>
        <li><a href="/mbkfbl/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_10.jpg"/><p>康复案例</p></a></li>
        <li><a href="/bdfcs/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_16.jpg"/><p>白斑百科</p></a></li>
        <li><a href="/jkxj/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_18.jpg"/><p>健康宣教</p></a></li>
        <li><a href="/xjsb/"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_20.jpg"/><p>祛白设备</p></a></li>
        <li><a href="/lylx/669.html"><img src="http://m.xjdpfbyy.com/xbindex/images/navli_21.jpg"/><p>来院路线</p></a></li>
    </ul></nav>
<div id="focusUII" class="banner focusUII">
  <div class="bd">
    <ul>
<li><a href="/tslf/241.html#ban"><img src="http://m.xjdpfbyy.com/xbindex/images/head1.jpg" /></a></li>
  <li><a href="/zjtd/#ban"><img src="http://m.xjdpfbyy.com/xbindex/images/head2.jpg" /></a></li>
  <li><a href="/yyjj/16.html#ban"><img src="http://m.xjdpfbyy.com/xbindex/images/head3.jpg" /></a></li>
    </ul>
  </div>
  <div class="hd">
    <ul>
    </ul>
  </div>
</div>
<!-- <script type="text/javascript">TouchSlide({ slideCell:"#focusUII",titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
mainCell:".bd ul", effect:"leftLoop", autoPlay:true,//自动播放
autoPage:true //自动分页
});</script>  -->

<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>头条推荐</span><p>Top recommendation</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div> 
<div class="content1">
<ul>
<li><span>HOT</span><a href="/yyxw/578.html" title="">新军都：精细化治疗白癜风示范医院</a></li>
    <li><span>HOT</span><a href="/rmwz/510.html" title="">专家谈肢端型白癜风为何难治？</a></li>
    <li><span>HOT</span><a href="/rmwz/527.html" title="">白癜风频遭误诊，白斑确诊究竟难在哪里</a></li>
</ul>   
</div>
<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>特色科室</span><p>分龄分性分区分型 对症对因精细治疗</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div> 
<div class="content2"><ul>
    <li><a href="/bdfrq/etbdf/" title="儿童白癜风"><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_33.jpg" /><span><p>儿童白癜风</p><em>(3-6岁)</em></span></a></li>
    <li><a href="/bdfrq/qsnbdf/" title="青少年白癜风"><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_30.jpg" /><span><p>青少年白癜风</p><em>(7-24岁)</em></span></a></li>
    <li><a href="/bdfrq/lnbdf" title="老年白癜风"><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_27.jpg" /><span><p>老年白癜风</p><em>(60岁以上)</em></span></a></li>
    <li><a href="/bdfrq/malebdf" title="男性白癜风"><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_42.jpg" /><span><p>男性白癜风</p><em>(成年男性)</em></span></a></li>
    <li><a href="/bdfrq/nvbdf/" title="女性白癜风"><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_39.jpg" /><span><p>女性白癜风</p><em>(成年女性)</em></span></a></li>
    <li style="padding: 8px 0px 10px 0px;"><a href="/bdfbw/" title="白癜风部位" ><img src="http://m.xjdpfbyy.com/xbindex/images/bdffx_45.jpg" /><span><p>白癜风部位</p><em>（头、四肢、躯干）</em></span></a></li>
</ul></div>
<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>热门关注</span><p>关注白斑热点康复快人一步</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div>
<div class="tonglan"><a href="/jczt/bbcix_s/"><img src="http://m.xjdpfbyy.com/xbindex/images/ssbdf_50.jpg" /></a></div>
<div class="rmgz"><ul>
    <a href="/rmwz/557.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风是怎么引起的？</li></a>
    <a href="/rmwz/558.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风的初期症状及图片</li></a>
    <a href="/rmwz/559.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风该如何治疗？</li></a>
    <a href="/rmwz/560.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白斑和白癜风的区别</li></a>
    <a href="/rmwz/561.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风不治会自愈吗？</li></a>
    <a href="/rmwz/562.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />如何选择治疗白癜风的医院？</li></a>
    <a href="/rmwz/565.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />皮肤有白斑的原因</li></a>
    <a href="/rmwz/385.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风遗传吗</li></a>
    <a href="/rmwz/563.html" title=""><li><img src="http://m.xjdpfbyy.com/xbindex/images/tub_53.jpg" />白癜风的危害有哪些？</li></a>
</ul>
</div>
<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>新军都案例</span><p>治别人治不好的白癜风 治别人不敢治的白癜风</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div>
<div id="slideBox" class="blmk slideBox">
    <div class="bd">        
    <ul>
<li><a href="/mbkfbl/676.html" title="摆脱治疗误区 她终走出白癜风阴影"><img src="/uploads/161202/4-161202140600U8.jpg" alt="摆脱治疗误区 她终走出白癜风阴影" /><p>摆脱治疗误区 她终走出白癜风阴影</p></a></li>
<li><a href="/mbkfbl/673.html" title="4个月治愈2年白斑 美丽女人再次绽放"><img src="/uploads/161109/2-1611091R102916.png" alt="4个月治愈2年白斑 美丽女人再次绽放" /><p>4个月治愈2年白斑 美丽女人再次绽放</p></a></li>
<li><a href="/mbkfbl/583.html" title="18岁青春少女“战白记”"><img src="/uploads/allimg/161025/2-1610251G6000-L.jpg" alt="18岁青春少女“战白记”" /><p>18岁青春少女“战白记”</p></a></li>
<li><a href="/mbkfbl/582.html" title="治愈全身大范围白斑，回归自信女人"><img src="/uploads/allimg/161025/2-1610251G4030-L.jpg" alt="治愈全身大范围白斑，回归自信女人" /><p>治愈全身大范围白斑，回归自信女人</p></a></li>


    </ul>
    </div>  
    <div class="hd"><ul><li></li><li></li><li></li><li></li></ul></div> 
</div>
<!-- <script type="text/javascript">TouchSlide({ slideCell:"#slideBox",titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
mainCell:".bd ul", effect:"leftLoop", autoPlay:true,//自动播放
autoPage:true //自动分页
});
</script> -->

<div class="sousuo">
    <h4>按<a id="p01" onClick="set('p0',1,6)" class="hover" href="javascript:void(0);">部位</a><a id="p02" onClick="set('p0',2,6)" href="javascript:void(0);">人群</a>查询</h4>
<div id="conp01" class="bw show"><ul>
    <li><a href="/bwkfbl/tbkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_57.jpg"/><span>头部</span></a></li>
    <li><a href="/bwkfbl/jbkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_59.jpg"/><span>颈部</span></a></li>
    <li><a href="/bwkfbl/jbkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_61.jpg"/><span>手部</span></a></li>
    <li><a href="/bwkfbl/bbkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_63.jpg"/><span>背部</span></a></li>
    <li><a href="/bwkfbl/ybkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_70.jpg"/><span>腰部</span></a></li>
    <li><a href="/bwkfbl/legkfal"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_72.jpg"/><span>腿部</span></a></li>
    <li><a href="/bwkfbl/xbkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_73.jpg"/><span>胸部</span></a></li>
    <li><a href="/bwkfbl/qt/"><img src="http://m.xjdpfbyy.com/xbindex/images/bdfbw_75.jpg"/><span>其他</span></a></li>
</ul>
</div>
 <div id="conp02" class="bw hidden"><ul>
    <li><a href="/rqkfbl/etkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/rqbl_06.jpg"/><span>儿童</span></a></li>
    <li><a href="/rqkfbl/qsnkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/rqbl_08.jpg"/><span>青少年</span></a></li>
    <li><a href="/rqkfbl/cnkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/rqbl_10.jpg"/><span>成年</span></a></li>
    <li><a href="/rqkfbl/lnkfal/"><img src="http://m.xjdpfbyy.com/xbindex/images/rqbl_13.jpg"/><span>老年</span></a></li>
 </ul>
 </div>
 <script>
    function set(name, cursel, n) {
        for (i = 1; i <= n; i++) {
            var menu = document.getElementById(name + i);
            var con = document.getElementById("con" + name + i);
            menu.className = i == cursel ? "hover" : "";
            con.style.display = i == cursel ? "block" : "none";
        }
    }
</script> 
</div>
<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>新军都技术</span><p>52项技术 中西维医结合祛白更全面</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div>
<div id="focusUTT" class="tech focusUTT" >
<div class="bd">        
    <ul>
        <li class="js"><a href="/tslf/81.html#js"><img src="http://m.xjdpfbyy.com/xbindex/images/js_03.jpg" /><p>黑色素细胞培植术</p></a></li>
        <li class="js"><a href="/xjsb/63.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/js2_03.jpg" /><p>word灯</p></a></li>
        <li class="js"><a href="/tslf/85.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jisu3_03.jpg" /><p>311窄谱</p></a></li>
        <li class="js"><a href="/tslf/243.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jishu4_03.jpg" /><p>中药熏蒸</p></a></li>
        <li class="js"><a href="/tslf/434.html#js"><img src="http://m.xjdpfbyy.com/xbindex/images/jishu5_03.jpg" /><p>308nm准分子光治疗体系</p></a></li>
        <li class="js"><a href="/tslf/241.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jishu6_03.jpg" /><p>ReCell自体活性皮肤细胞移植</p></a></li>
    </ul>
</div>  
    <div class="hd" style="width:100%;"><ul class="lcjs"><li></li><li></li><li></li><li></li><li></li><li></li></ul></div>  
</div>
<!-- <script type="text/javascript">TouchSlide({ slideCell:"#focusUTT",titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
mainCell:".bd ul", effect:"leftLoop", autoPlay:true,//自动播放
autoPage:true //自动分页
});
</script> -->
<div class="jishu">
    <ul>
        <li><a href="/jczt/wkss/index.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco1.jpg"/><p>外科手术中心<span>Surgical Center</span></p></a></li>
        <li><a href="/jczt/glzx/index.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco2.jpg"/><p>光疗中心<span>Light therapy center</span></p></a></li>
        <li><a href="/jczt/zyzlzx/index.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco3.jpg"/><p >中医诊疗中心<span>Traditional Chinese Medicine</span></p></a></li>
        
        <li><a href="/tslf/242.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco4.jpg"/><p>免疫医学中心<span>Journal of Immunology</span></p></a></li>
        <li><a href="/tslf/388.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco6.jpg"/><p>心理治疗中心<span>Psychotherapy Center</span></p></a></li>
        <li><a href="/tslf/389.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco5.jpg"/><p>分子调理中心<span>Molecular cuisine</span></p></a></li>
        
        <li><a href="/tslf/246.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco7.jpg"/><p>介入治疗中心<span>Interventional therapy</span></p></a></li>
        <li><a href="/tslf/393.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco_07.jpg" /><p>维医特色中心<span>Dimensional medicine</span></p></a></li>
        <li><a href="/tslf/350.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco9.jpg"/><p>全科病因检测中心<span>General etiology etiology</span></p></a></li>
      <li><a href="/tslf/586.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco8.jpg"/><p >抗复发治疗中心<span>Anti-relapse treatment center</span></p></a></li>
       <li><a href="/tslf/667.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco_14.jpg" /><p >远程会诊中心<span>Remote consultation</span></p></a></li>
       <li><a href="/yyxw/668.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/jsinco_11.jpg" /><p >援疆定点医疗中心<span>Yuanjiang sentinel</span></p></a></li>
    </ul>
</div>

<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>新军都专家</span><p>恪守大医德范准绳，精益求精保障疗效</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div>
<div id="focusUT" class="zhuanjia focusUT" style="margin:10px 0;">
  <div class="bd">
    <ul>
      <li><a href="/zjtd/28.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/szx_02.jpg" /></a></li>
      <li><a href="/zjtd/79.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/ly_02.jpg" /></a></li>
      <li><a href="/zjtd/230.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/changp_02.jpg" /></a></li>
      <li><a href="/zjtd/229.html#shouye"><img src="http://m.xjdpfbyy.com/xbindex/images/lfx_02.jpg" /></a></li>
    </ul>
  </div>
  <div class="hd">
    <ul>
    </ul>
  </div>
</div>
<!-- <script type="text/javascript">TouchSlide({ slideCell:"#focusUT",titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
mainCell:".bd ul", effect:"leftLoop", autoPlay:true,//自动播放
autoPage:true //自动分页
});
</script> -->

<div class="title">
    <h3><div class="liu"></div>
        <div class="left"><span class="behand1"><span class="transform"></span></span></div>
        <div class="center"><span>祛白原则</span><p>以患为尊，疗效至上，科学祛白</p></div>
        <div class="left"><span class="behand1"></span><span class="transform2"></span></div>
        <div class="liu"></div></h3>
</div>
<div class="qbyz">
    <ul>
    <li><a href="/zlln/590.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_03.jpg" /><span><p>专科化临床研究</p><em>Clinical research</em></span></a></li>
    <li><a href="/zlln/591.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_05.jpg" /><span><p>专病医师主诊制</p><em>Specialist tyranny</em></span></a></li>
    <li><a href="/zlln/588.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_07.jpg" /><span><p>全科精确化检测</p><em>Accurate detection</em></span></a></li>
    <li><a href="/zlln/585.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_12.jpg" /><span><p>多学科诊断模式</p><em>Multidisciplinary diagnosis</em></span></a></li>
    <li><a href="/zlln/528.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_16.jpg" /><span><p>个体化方案专治</p><em>Individual program</em></span></a></li>
    <li> <a href="/zlln/584.html" title="" ><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_14.jpg" /><span><p>精细诊治白癜风</p><em>Diagnosis treatment</em></span></a></li>
    <li><a href="/zlln/531.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_22.jpg" /><span><p>多维中西医结合</p><em>Combination of 
Chinese and Western</em></span></a></li>
    <li><a href="/zlln/530.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_25.jpg" /><span><p>抗复发强化治疗</p><em>Anti-relapse</em></span></a></li>
    <li><a href="/zlln/401.html" title=""><img src="http://m.xjdpfbyy.com/xbindex/images/biaozh_27.jpg" /><span><p>愈后动态化管理</p><em>Management after heal</em></span></a></li>
    </ul>
</div>
<div class="yuyue">
<div class="yyry">
<h2><span class="zw1"></span><span class="xian"></span><span class="yybt">预约表单<p>Reservation form</p></span><span class="xian"></span><span class="zw1"></span></h2>
<!-- <form action="http://yixian.bryljt.com/yspl/diy.php" enctype="multipart/form-data" method="post" id="biaodan" target="frameNo" onsubmit=" return sub();">
      <input type="hidden" name="action" value="post">
      <input type="hidden" name="diyid" value="1">
      <input type="hidden" name="do" value="2">
      <input type="hidden" name="bumen" value="新疆-竞价">
      <input type="hidden" name="furl" id="furl" value="">
      <input type="hidden" name="content" id="content" value="">
      <input type="hidden" name="dede_fields" value="name,text;age,text;sex,text;phone,text;itime,text;ctime,text;content,multitext;furl,text;bumen,text;ip,text;zhuanjia,text">
      <input type="hidden" name="dede_fieldshash" value="186cb76ce1391c0d766e14bb8a6a865f">
      <h4><span>1、</span>您的白斑面积有多大？</h4>
      <ul>
        <li>
          <input class="put" name="a0" type="radio" value="指甲盖大小">
          指甲盖大小</li>
        <li>
          <input class="put" name="a0" type="radio" value="手掌大小">
          手掌大小</li>
          <li>
          <input class="put" name="a0" type="radio" value="半脸大小">
          半脸大小</li>
          <li>
          <input class="put" name="a0" type="radio" value="更大面积">
          更大面积</li>
      </ul>
      <h4><span>2、</span>您的白癜风发病时间有多长？</h4>
      <ul>
        <li>
          <input class="put" name="a1" type="radio" value="1~3个月">
          1~3个月 </li>
        <li>
          <input class="put" name="a1" type="radio" value="3个月~1年">
          3个月~1年</li>
          <li>
          <input class="put" name="a1" type="radio" value="1年 ～3年">
          1年 ～3年</li>
          <li>
          <input class="put" name="a1" type="radio" value="3年以上">
          3年以上</li>
      </ul>
      <h4><span>3</span>您以前接受过哪些治疗？</h4>
      <ul class="noborder">
        <li id="bd1">
          <input class="put" name="a2" type="radio" value="内服药"> 内服药</li>
        <li id="bd1">
          <input class="put" name="a2" type="radio" value="外用药"> 外用药 </li>
        <li id="bd1">
          <input class="put" name="a2" type="radio" value="激光"> 激光 </li>
        <li id="bd1">
          <input class="put" name="a2" type="radio" value="手术">手术 </li>
           <li id="bd1">
          <input class="put" name="a2" type="radio" value="偏方">偏方</li>
           <li id="bd1">
          <input class="put" name="a2" type="radio" value="未接受过治疗">未接受过治疗 </li>
          
      </ul>
      <p>
        <label for="name">姓名:</label>
        <input type="text" name="name" class="act-name" id="name" placeholder="必填的哦！">
        <label class="sexz">性别:</label>
      <label>
        <input type="radio" name="sex" checked="checked" value="男" id="sex_0">男</label>
      <label>
        <input type="radio" name="sex" value="女" id="sex_1">女</label>
      </span>

      </p>
      <p>
        <label for="tel">电话:</label>
        <input type="tel" name="phone" class="act-tel" id="phone" placeholder="必填的哦！">
      </p>
      <p class="but">
        <input type="submit" name="submit" class="act-submit" id="submit" value="提交问题">
        <input type="reset" name="res" class="act-submit1" value="重新填写">
      </p>
      <p class="zhu">温馨提示：您所填的信息我们将及时反馈给医生进行诊断，对于您的个人信息我们承诺绝对保密！请您放心</p>
      </form> -->
<iframe src="javascript:" style="display: none;" name="frameNo"></iframe>
  <!-- <script src="http://m.xjdpfbyy.com/js/biaodan3.js" type="text/javascript" charset="gb2312"></script>  -->
</div>      
</div>
<footer><p>祛白热线：400-0991-462（24小时）</br>健康咨询：0991－7898333</br>地址：乌鲁木齐沙区西北路73号</p></footer>
<div class="foots1"><a style=" color:#FFF" href="http://www.miitbeian.gov.cn">copyright 乌鲁木齐新军都 新ICP备16001919号-1 </a></div>
<!-- <div class="bottom">
    <ul>
        <li><a href="/lylx/669.html#fnav">来院路线</a></li>
        <li><a href="javascript:void(0);" onclick="openZoosUrl('chatwin','&e='+escape(escape('fnav')))">在线咨询</a></li>
        <li><a href="tel:4000991462">电话咨询</a></li>
        <li><a href="/#footer">返回首页</a></li>
    </ul>
</div> -->
<!--  <style>.QQ {overflow: hidden;margin: 0px;padding: 4px;position: fixed;z-index: 99999;left: 0px;top: -50px;background: rgba(255,255,255,1);width: 100%;border-bottom: 1px solid #f1f1f1;-webkit-box-shadow: 0 0 10px #666;font-family: "microsoft yahei";box-shadow: 0 0 10px #666;}.QQ a {text-decoration: none;}.QQ img {float: left;border-right: 1px dashed #f1f1f1;margin-right: 8px;padding-right: 4px;}.QQ h4 {line-height: 18px;font-size: 16px;margin: 0px;padding: 0px;color: #000;}.QQ p {font-size: 14px;line-height: 18px;color: #666;margin: 0px;padding: 0px;}.show1 {-webkit-animation: show 10s infinite;}@-webkit-keyframes show {0% {top: -50px;opacity: 0;}10% {top: 0px;opacity: 1;}50%{top: 0px;opacity: 1;}60%{top: -50px;opacity: 0;}100%{top: -50px;opacity: 0;}</style> -->
 <!-- <div class="QQ" id="QQ-talk"><img src="/images/qqIcon1.gif" width="36" height="36" onload="document.querySelector('#QQ-talk').className='QQ show1';"><a href="javascript:void(0);" onclick="openZoosUrl('chatwin','&e=top_texiao')"><h4>您好！我是新军都在线医生</h4><p>请问白斑在什么部位？有没有治疗过？</p></a></div> -->
<div style="height:0px;overflow:hidden;">
<script type="text/javascript" src="http://m.xjdpfbyy.com/swt/meiqia.js" charset="gb2312"></script>
<!-- <script type="text/javascript" src="http://commjs.b0.upaiyun.com/swt/xinjiang/wmobile.swt.js" charset="gb2312"></script> -->
<!--<script src="http://m.18999802282.com/js/zxtc1.js" language="JavaScript"></script>-->
<!-- <script src="http://m.xjdpfbyy.com/js/dibus.js" language="JavaScript"></script> -->
<!-- <div style=" display:none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id=cnzz_stat_icon_1260644032%3E%3C/span%3E%3Cscript src=" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260644032%26show%3Dpic type=text/javascript%3E%3C/script%3E"));</script></div> -->
<!-- <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?09bda6cfe190934280b834d8c2866b49";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> -->
</div>
<!-- <div id="wjdc"><a href="tel:4000991462"><img src="http://m.xjdpfbyy.com/swt/djwz.gif" /></a></div> -->
</body>
</html>